/* CABEÇALHO */
header {
    background-color: #D1E5BF;
    height: 122px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-family: 'Sahitya';
    color: white;
    font-size: 3.8rem;
    margin-left: 0rem;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    color: #2D2D2D;
    margin-left: 0rem;
    font-size: 20px;
    display: inline;
}

.header  p {
    margin-left: 11.2em;
    transition: color 0.2s;
}

.header p:hover {
    color: white;
}

@media(max-width: 320px){
    header {
        height: 14rem;
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .header h1 {
        font-size: 2.2em;
        line-height: 1rem;
    }

    .header a {
        font-size: 1rem;
        text-align: center;
        align-items: center;
    }
    .header  p {
        text-align: center;
        margin-left: 0.4rem;
        transition: color 0.2s;
    }

    

    
    
    
}