/* CABEÇALHO */
header {
    background-color: #D1E5BF;
    height: 122px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header h1 {
    font-family: 'Sahitya';
    color: white;
    font-size: 3.8rem;
    margin-left: 0rem;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    color: #2D2D2D;
    margin-left: 0rem;
    font-size: 20px;
    display: inline;
}

.header  p {
    margin-left: 14.4rem;
    transition: color 0.2s;
}

.header p:hover {
    color: white;
}